.message-preview-bubble {
	position: fixed;
	padding: 1.2rem;
	width: fit-content;
	max-width: 400px;
	height: fit-content;
	background-color: #fff;
	border-radius: 0.8rem;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	visibility: hidden;
	overflow-y: auto;
}

:host-context(body[data-color-scheme='dark']) .message-preview-bubble {
	background-color: rgb(28, 31, 35);
	color: #e4e4e4;
	border: 1px solid rgba(140, 140, 140, 0.25);
}

.show-bubble {
	visibility: visible;
}
